Source: libnvidia-container
Section: libs
Priority: optional
Build-Depends:
  debhelper (>=9),
  bmake,
  libcap-dev,
  libseccomp-dev,
  libtirpc-dev,
  lsb-release,
  pkg-config,
Standards-Version: 4.3.0
Maintainer: System76 <info@system76.com>
Homepage: https://github.com/NVIDIA/libnvidia-container

Package: libnvidia-container1
Architecture: amd64
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NVIDIA container runtime library
 The nvidia-container library provides an interface to configure GNU/Linux
 containers leveraging NVIDIA hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package requires the NVIDIA driver (>= 340.29) to be installed separately.

Package: libnvidia-container-dev
Architecture: amd64
Multi-Arch: same
Depends: libnvidia-container1 (= ${binary:Version}), ${misc:Depends}
Description: NVIDIA container runtime library (development files)
 The nvidia-container library provides an interface to configure GNU/Linux
 containers leveraging NVIDIA hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains the files required to compile programs with the library.

Package: libnvidia-container1-dbg
Architecture: amd64
Multi-Arch: same
Depends: libnvidia-container1 (= ${binary:Version}), ${misc:Depends}
Description: NVIDIA container runtime library (debugging symbols)
 The nvidia-container library provides an interface to configure GNU/Linux
 containers leveraging NVIDIA hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains the debugging symbols for the library.

Package: libnvidia-container-tools
Section: utils
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NVIDIA container runtime library (command-line tools)
 The nvidia-container library provides an interface to configure GNU/Linux
 containers leveraging NVIDIA hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains command-line tools that facilitate using the library.
